{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">
    {% if author1.avatar contains "://" %}
    	<img src="{{ author1.avatar }}" alt="{{ author1.name }}">
    {% else %}
    	<img src="{{ author1.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author1.name }}">
    {% endif %}
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author1.name }}</h3>
    {% if author1.bio %}<p class="author__bio">{{ author1.bio }}</p>{% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">Follow</button>
    <ul class="author__urls social-icons">
      {% if author1.location %}
        <li><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> {{ author1.location }}</li>
      {% endif %}
      {% if author1.employer %}
        <li><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> {{ author1.employer }}</li>
      {% endif %}
      {% if author1.uri %}
        <li><a href="{{ author1.uri }}"><i class="fas fa-fw fa-link" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].website_label | default: "Website" }}</a></li>
      {% endif %}
      {% if author1.email %}
        <li><a href="mailto:{{ author1.email }}"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].email_label | default: "Email" }}</a></li>
      {% endif %}
      {% if author1.keybase %}
        <li><a href="https://keybase.io/{{ author1.keybase }}"><i class="fas fa-fw fa-key" aria-hidden="true"></i> Keybase</a></li>
      {% endif %}
       {% if author1.researchgate %}
        <li><a href="{{ author1.researchgate }}"><i class="fab fa-fw fa-researchgate" aria-hidden="true"></i> ResearchGate</a></li>
      {% endif %}
      {% if author1.twitter %}
        <li><a href="https://twitter.com/{{ author1.twitter }}"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
      {% endif %}
      {% if author1.facebook %}
        <li><a href="https://www.facebook.com/{{ author1.facebook }}"><i class="fab fa-fw fa-facebook-square" aria-hidden="true"></i> Facebook</a></li>
      {% endif %}
      {% if author1.google_plus %}
        <li><a href="https://plus.google.com/+{{ author1.google_plus }}"><i class="fab fa-fw fa-google-plus" aria-hidden="true"></i> Google+</a></li>
      {% endif %}
      {% if author1.linkedin %}
        <li><a href="https://www.linkedin.com/in/{{ author1.linkedin }}"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
      {% endif %}
      {% if author1.xing %}
        <li><a href="https://www.xing.com/profile/{{ author1.xing }}"><i class="fab fa-fw fa-xing-square" aria-hidden="true"></i> XING</a></li>
      {% endif %}
      {% if author1.instagram %}
        <li><a href="https://instagram.com/{{ author1.instagram }}"><i class="fab fa-fw fa-instagram" aria-hidden="true"></i> Instagram</a></li>
      {% endif %}
      {% if author1.tumblr %}
        <li><a href="https://{{ author1.tumblr }}.tumblr.com"><i class="fab fa-fw fa-tumblr-square" aria-hidden="true"></i> Tumblr</a></li>
      {% endif %}
      {% if author1.bitbucket %}
        <li><a href="https://bitbucket.org/{{ author1.bitbucket }}"><i class="fab fa-fw fa-bitbucket" aria-hidden="true"></i> Bitbucket</a></li>
      {% endif %}
      {% if author1.github %}
        <li><a href="https://github.com/{{ author1.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i> Github</a></li>
      {% endif %}
      {% if author1.stackoverflow %}
        <li><a href="https://www.stackoverflow.com/users/{{ author1.stackoverflow }}"><i class="fab fa-fw fa-stack-overflow" aria-hidden="true"></i> Stackoverflow</a></li>
      {% endif %}
      {% if author1.lastfm %}
        <li><a href="https://lastfm.com/user/{{ author1.lastfm }}"><i class="fab fa-fw fa-lastfm-square" aria-hidden="true"></i> Last.fm</a></li>
      {% endif %}
      {% if author1.dribbble %}
        <li><a href="https://dribbble.com/{{ author1.dribbble }}"><i class="fab fa-fw fa-dribbble-square" aria-hidden="true"></i> Dribbble</a></li>
      {% endif %}
      {% if author1.pinterest %}
        <li><a href="https://www.pinterest.com/{{ author1.pinterest }}"><i class="fab fa-fw fa-pinterest" aria-hidden="true"></i> Pinterest</a></li>
      {% endif %}
      {% if author1.foursquare %}
        <li><a href="https://foursquare.com/{{ author1.foursquare }}"><i class="fab fa-fw fa-foursquare" aria-hidden="true"></i> Foursquare</a></li>
      {% endif %}
      {% if author1.steam %}
        <li><a href="https://steamcommunity.com/id/{{ author1.steam }}"><i class="fab fa-fw fa-steam-square" aria-hidden="true"></i> Steam</a></li>
      {% endif %}
      {% if author1.youtube %}
        <li><a href="https://www.youtube.com/user/{{ author1.youtube }}"><i class="fab fa-fw fa-youtube" aria-hidden="true"></i> YouTube</a></li>
      {% endif %}
      {% if author1.soundcloud %}
        <li><a href="https://soundcloud.com/{{ author1.soundcloud }}"><i class="fab fa-fw fa-soundcloud" aria-hidden="true"></i> Soundcloud</a></li>
      {% endif %}
      {% if author1.weibo %}
        <li><a href="https://www.weibo.com/{{ author1.weibo }}"><i class="fab fa-fw fa-weibo" aria-hidden="true"></i> Weibo</a></li>
      {% endif %}
      {% if author1.flickr %}
        <li><a href="https://www.flickr.com/{{ author1.flickr }}"><i class="fab fa-fw fa-flickr" aria-hidden="true"></i> Flickr</a></li>
      {% endif %}
      {% if author1.codepen %}
        <li><a href="https://codepen.io/{{ author1.codepen }}"><i class="fab fa-fw fa-codepen" aria-hidden="true"></i> CodePen</a></li>
      {% endif %}
      {% if author1.vine %}
        <li><a href="https://vine.co/u/{{ author1.vine }}"><i class="fab fa-fw fa-vine" aria-hidden="true"></i> Vine</a></li>
      {% endif %}
      {% if author1.googlescholar %}
        <li><a href="{{ author1.googlescholar }}"><i class="fas fa-fw fa-graduation-cap"></i> Google Scholar</a></li>
      {% endif %}
      {% if author1.pubmed %}
        <li><a href="{{ author1.pubmed }}"><i class="ai ai-pubmed-square ai-fw"></i> PubMed</a></li>
      {% endif %}
      {% if author1.orcid %}
        <li><a href="{{ author1.orcid }}"><i class="ai ai-orcid-square ai-fw"></i> ORCID</a></li>
      {% endif %}
      {% if author1.impactstory %}
        <li><a href="{{ author1.impactstory }}"><i class="ai ai-impactstory ai-fw"></i> Impactstory</a></li>
      {% endif %}
      {% if author1.wikipedia %}
        <li><a href="https://en.wikipedia.org/wiki/User:{{ author1.wikipedia }}"><i class="fab fa-fw fa-wikipedia-w" aria-hidden="true"></i> Wikipedia</a></li>
{% endif %}
    </ul>
  </div>
</div>
<div itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">
    {% if author2.avatar contains "://" %}
    	<img src="{{ author2.avatar }}" alt="{{ author2.name }}">
    {% else %}
    	<img src="{{ author2.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author2.name }}">
    {% endif %}
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author2.name }}</h3>
    {% if author2.bio %}<p class="author__bio">{{ author2.bio }}</p>{% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">Follow</button>
    <ul class="author__urls social-icons">
      {% if author2.location %}
        <li><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> {{ author2.location }}</li>
      {% endif %}
      {% if author2.employer %}
        <li><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> {{ author2.employer }}</li>
      {% endif %}
      {% if author2.uri %}
        <li><a href="{{ author2.uri }}"><i class="fas fa-fw fa-link" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].website_label | default: "Website" }}</a></li>
      {% endif %}
      {% if author2.email %}
        <li><a href="mailto:{{ author2.email }}"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].email_label | default: "Email" }}</a></li>
      {% endif %}
      {% if author2.keybase %}
        <li><a href="https://keybase.io/{{ author2.keybase }}"><i class="fas fa-fw fa-key" aria-hidden="true"></i> Keybase</a></li>
      {% endif %}
       {% if author2.researchgate %}
        <li><a href="{{ author2.researchgate }}"><i class="fab fa-fw fa-researchgate" aria-hidden="true"></i> ResearchGate</a></li>
      {% endif %}
      {% if author2.twitter %}
        <li><a href="https://twitter.com/{{ author2.twitter }}"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
      {% endif %}
      {% if author2.facebook %}
        <li><a href="https://www.facebook.com/{{ author2.facebook }}"><i class="fab fa-fw fa-facebook-square" aria-hidden="true"></i> Facebook</a></li>
      {% endif %}
      {% if author2.google_plus %}
        <li><a href="https://plus.google.com/+{{ author2.google_plus }}"><i class="fab fa-fw fa-google-plus" aria-hidden="true"></i> Google+</a></li>
      {% endif %}
      {% if author2.linkedin %}
        <li><a href="https://www.linkedin.com/in/{{ author2.linkedin }}"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
      {% endif %}
      {% if author2.xing %}
        <li><a href="https://www.xing.com/profile/{{ author2.xing }}"><i class="fab fa-fw fa-xing-square" aria-hidden="true"></i> XING</a></li>
      {% endif %}
      {% if author2.instagram %}
        <li><a href="https://instagram.com/{{ author2.instagram }}"><i class="fab fa-fw fa-instagram" aria-hidden="true"></i> Instagram</a></li>
      {% endif %}
      {% if author2.tumblr %}
        <li><a href="https://{{ author2.tumblr }}.tumblr.com"><i class="fab fa-fw fa-tumblr-square" aria-hidden="true"></i> Tumblr</a></li>
      {% endif %}
      {% if author2.bitbucket %}
        <li><a href="https://bitbucket.org/{{ author2.bitbucket }}"><i class="fab fa-fw fa-bitbucket" aria-hidden="true"></i> Bitbucket</a></li>
      {% endif %}
      {% if author2.github %}
        <li><a href="https://github.com/{{ author2.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i> Github</a></li>
      {% endif %}
      {% if author2.stackoverflow %}
        <li><a href="https://www.stackoverflow.com/users/{{ author2.stackoverflow }}"><i class="fab fa-fw fa-stack-overflow" aria-hidden="true"></i> Stackoverflow</a></li>
      {% endif %}
      {% if author2.lastfm %}
        <li><a href="https://lastfm.com/user/{{ author2.lastfm }}"><i class="fab fa-fw fa-lastfm-square" aria-hidden="true"></i> Last.fm</a></li>
      {% endif %}
      {% if author2.dribbble %}
        <li><a href="https://dribbble.com/{{ author2.dribbble }}"><i class="fab fa-fw fa-dribbble-square" aria-hidden="true"></i> Dribbble</a></li>
      {% endif %}
      {% if author2.pinterest %}
        <li><a href="https://www.pinterest.com/{{ author2.pinterest }}"><i class="fab fa-fw fa-pinterest" aria-hidden="true"></i> Pinterest</a></li>
      {% endif %}
      {% if author2.foursquare %}
        <li><a href="https://foursquare.com/{{ author2.foursquare }}"><i class="fab fa-fw fa-foursquare" aria-hidden="true"></i> Foursquare</a></li>
      {% endif %}
      {% if author2.steam %}
        <li><a href="https://steamcommunity.com/id/{{ author2.steam }}"><i class="fab fa-fw fa-steam-square" aria-hidden="true"></i> Steam</a></li>
      {% endif %}
      {% if author2.youtube %}
        <li><a href="https://www.youtube.com/user/{{ author2.youtube }}"><i class="fab fa-fw fa-youtube" aria-hidden="true"></i> YouTube</a></li>
      {% endif %}
      {% if author2.soundcloud %}
        <li><a href="https://soundcloud.com/{{ author2.soundcloud }}"><i class="fab fa-fw fa-soundcloud" aria-hidden="true"></i> Soundcloud</a></li>
      {% endif %}
      {% if author2.weibo %}
        <li><a href="https://www.weibo.com/{{ author2.weibo }}"><i class="fab fa-fw fa-weibo" aria-hidden="true"></i> Weibo</a></li>
      {% endif %}
      {% if author2.flickr %}
        <li><a href="https://www.flickr.com/{{ author2.flickr }}"><i class="fab fa-fw fa-flickr" aria-hidden="true"></i> Flickr</a></li>
      {% endif %}
      {% if author2.codepen %}
        <li><a href="https://codepen.io/{{ author2.codepen }}"><i class="fab fa-fw fa-codepen" aria-hidden="true"></i> CodePen</a></li>
      {% endif %}
      {% if author2.vine %}
        <li><a href="https://vine.co/u/{{ author2.vine }}"><i class="fab fa-fw fa-vine" aria-hidden="true"></i> Vine</a></li>
      {% endif %}
      {% if author2.googlescholar %}
        <li><a href="{{ author2.googlescholar }}"><i class="fas fa-fw fa-graduation-cap"></i> Google Scholar</a></li>
      {% endif %}
      {% if author2.pubmed %}
        <li><a href="{{ author2.pubmed }}"><i class="ai ai-pubmed-square ai-fw"></i> PubMed</a></li>
      {% endif %}
      {% if author2.orcid %}
        <li><a href="{{ author2.orcid }}"><i class="ai ai-orcid-square ai-fw"></i> ORCID</a></li>
      {% endif %}
      {% if author2.impactstory %}
        <li><a href="{{ author2.impactstory }}"><i class="ai ai-impactstory ai-fw"></i> Impactstory</a></li>
      {% endif %}
      {% if author2.wikipedia %}
        <li><a href="https://en.wikipedia.org/wiki/User:{{ author2.wikipedia }}"><i class="fab fa-fw fa-wikipedia-w" aria-hidden="true"></i> Wikipedia</a></li>
{% endif %}
    </ul>
  </div>
</div>
<div itemscope itemtype="http://schema.org/Person">

  <div class="author__avatar">
    {% if author3.avatar contains "://" %}
    	<img src="{{ author3.avatar }}" alt="{{ author3.name }}">
    {% else %}
    	<img src="{{ author3.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar" alt="{{ author3.name }}">
    {% endif %}
  </div>

  <div class="author__content">
    <h3 class="author__name">{{ author3.name }}</h3>
    {% if author3.bio %}<p class="author__bio">{{ author3.bio }}</p>{% endif %}
  </div>

  <div class="author__urls-wrapper">
    <button class="btn btn--inverse">Follow</button>
    <ul class="author__urls social-icons">
      {% if author3.location %}
        <li><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> {{ author3.location }}</li>
      {% endif %}
      {% if author3.employer %}
        <li><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> {{ author3.employer }}</li>
      {% endif %}
      {% if author3.uri %}
        <li><a href="{{ author3.uri }}"><i class="fas fa-fw fa-link" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].website_label | default: "Website" }}</a></li>
      {% endif %}
      {% if author3.email %}
        <li><a href="mailto:{{ author3.email }}"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].email_label | default: "Email" }}</a></li>
      {% endif %}
      {% if author3.keybase %}
        <li><a href="https://keybase.io/{{ author3.keybase }}"><i class="fas fa-fw fa-key" aria-hidden="true"></i> Keybase</a></li>
      {% endif %}
       {% if author3.researchgate %}
        <li><a href="{{ author3.researchgate }}"><i class="fab fa-fw fa-researchgate" aria-hidden="true"></i> ResearchGate</a></li>
      {% endif %}
      {% if author3.twitter %}
        <li><a href="https://twitter.com/{{ author3.twitter }}"><i class="fab fa-fw fa-twitter-square" aria-hidden="true"></i> Twitter</a></li>
      {% endif %}
      {% if author3.facebook %}
        <li><a href="https://www.facebook.com/{{ author3.facebook }}"><i class="fab fa-fw fa-facebook-square" aria-hidden="true"></i> Facebook</a></li>
      {% endif %}
      {% if author3.google_plus %}
        <li><a href="https://plus.google.com/+{{ author3.google_plus }}"><i class="fab fa-fw fa-google-plus" aria-hidden="true"></i> Google+</a></li>
      {% endif %}
      {% if author3.linkedin %}
        <li><a href="https://www.linkedin.com/in/{{ author3.linkedin }}"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
      {% endif %}
      {% if author3.xing %}
        <li><a href="https://www.xing.com/profile/{{ author3.xing }}"><i class="fab fa-fw fa-xing-square" aria-hidden="true"></i> XING</a></li>
      {% endif %}
      {% if author3.instagram %}
        <li><a href="https://instagram.com/{{ author3.instagram }}"><i class="fab fa-fw fa-instagram" aria-hidden="true"></i> Instagram</a></li>
      {% endif %}
      {% if author3.tumblr %}
        <li><a href="https://{{ author3.tumblr }}.tumblr.com"><i class="fab fa-fw fa-tumblr-square" aria-hidden="true"></i> Tumblr</a></li>
      {% endif %}
      {% if author3.bitbucket %}
        <li><a href="https://bitbucket.org/{{ author3.bitbucket }}"><i class="fab fa-fw fa-bitbucket" aria-hidden="true"></i> Bitbucket</a></li>
      {% endif %}
      {% if author3.github %}
        <li><a href="https://github.com/{{ author3.github }}"><i class="fab fa-fw fa-github" aria-hidden="true"></i> Github</a></li>
      {% endif %}
      {% if author3.stackoverflow %}
        <li><a href="https://www.stackoverflow.com/users/{{ author3.stackoverflow }}"><i class="fab fa-fw fa-stack-overflow" aria-hidden="true"></i> Stackoverflow</a></li>
      {% endif %}
      {% if author3.lastfm %}
        <li><a href="https://lastfm.com/user/{{ author3.lastfm }}"><i class="fab fa-fw fa-lastfm-square" aria-hidden="true"></i> Last.fm</a></li>
      {% endif %}
      {% if author3.dribbble %}
        <li><a href="https://dribbble.com/{{ author3.dribbble }}"><i class="fab fa-fw fa-dribbble-square" aria-hidden="true"></i> Dribbble</a></li>
      {% endif %}
      {% if author3.pinterest %}
        <li><a href="https://www.pinterest.com/{{ author3.pinterest }}"><i class="fab fa-fw fa-pinterest" aria-hidden="true"></i> Pinterest</a></li>
      {% endif %}
      {% if author3.foursquare %}
        <li><a href="https://foursquare.com/{{ author3.foursquare }}"><i class="fab fa-fw fa-foursquare" aria-hidden="true"></i> Foursquare</a></li>
      {% endif %}
      {% if author3.steam %}
        <li><a href="https://steamcommunity.com/id/{{ author3.steam }}"><i class="fab fa-fw fa-steam-square" aria-hidden="true"></i> Steam</a></li>
      {% endif %}
      {% if author3.youtube %}
        <li><a href="https://www.youtube.com/user/{{ author3.youtube }}"><i class="fab fa-fw fa-youtube" aria-hidden="true"></i> YouTube</a></li>
      {% endif %}
      {% if author3.soundcloud %}
        <li><a href="https://soundcloud.com/{{ author3.soundcloud }}"><i class="fab fa-fw fa-soundcloud" aria-hidden="true"></i> Soundcloud</a></li>
      {% endif %}
      {% if author3.weibo %}
        <li><a href="https://www.weibo.com/{{ author3.weibo }}"><i class="fab fa-fw fa-weibo" aria-hidden="true"></i> Weibo</a></li>
      {% endif %}
      {% if author3.flickr %}
        <li><a href="https://www.flickr.com/{{ author3.flickr }}"><i class="fab fa-fw fa-flickr" aria-hidden="true"></i> Flickr</a></li>
      {% endif %}
      {% if author3.codepen %}
        <li><a href="https://codepen.io/{{ author3.codepen }}"><i class="fab fa-fw fa-codepen" aria-hidden="true"></i> CodePen</a></li>
      {% endif %}
      {% if author3.vine %}
        <li><a href="https://vine.co/u/{{ author3.vine }}"><i class="fab fa-fw fa-vine" aria-hidden="true"></i> Vine</a></li>
      {% endif %}
      {% if author3.googlescholar %}
        <li><a href="{{ author3.googlescholar }}"><i class="fas fa-fw fa-graduation-cap"></i> Google Scholar</a></li>
      {% endif %}
      {% if author3.pubmed %}
        <li><a href="{{ author3.pubmed }}"><i class="ai ai-pubmed-square ai-fw"></i> PubMed</a></li>
      {% endif %}
      {% if author3.orcid %}
        <li><a href="{{ author3.orcid }}"><i class="ai ai-orcid-square ai-fw"></i> ORCID</a></li>
      {% endif %}
      {% if author3.impactstory %}
        <li><a href="{{ author3.impactstory }}"><i class="ai ai-impactstory ai-fw"></i> Impactstory</a></li>
      {% endif %}
      {% if author3.wikipedia %}
        <li><a href="https://en.wikipedia.org/wiki/User:{{ author3.wikipedia }}"><i class="fab fa-fw fa-wikipedia-w" aria-hidden="true"></i> Wikipedia</a></li>
{% endif %}
    </ul>
  </div>
</div>
